{
  "openapi": "3.1.0",
  "info": {
    "title": "DevResponse Administrator API",
    "version": "1.0.0",
    "description": "Administrator console API (`/api/administrator`). Authenticate EITHER with the Better Auth **session cookie** (send credentials with the request; every **mutation** then also requires an `Origin` or `Referer` header matching a trusted origin — the CSRF guard — which a browser sets itself and a server-side caller must add) OR with a **bearer** API key / JWT, whose effective authority is the intersection of its scopes and the permissions of its owner and which is exempt from the origin guard. The one exception is `DELETE /users/{id}/impersonate`, which bypasses the permission guard by design and is therefore **cookie-session only** (see that operation). Org admins are scoped to their own organization (out-of-scope resources return 404, not 403). Errors use `{ error, message, requestId }`; every response carries an `x-request-id` header."
  },
  "servers": [
    {
      "url": "https://app.devresponse.com/api/administrator"
    }
  ],
  "security": [
    {
      "cookieSession": []
    },
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "User administration.",
      "x-permissions": "`admin.users.*` (per action)"
    },
    {
      "name": "Roles",
      "description": "Roles and their permissions.",
      "x-permissions": "`admin.roles.*`"
    },
    {
      "name": "Permissions",
      "description": "The permission catalog.",
      "x-permissions": "`admin.roles.read`, `admin.permissions.manage`"
    },
    {
      "name": "Groups",
      "description": "Organization groups (ADR-0002).",
      "x-permissions": "`admin.groups.*` (`.assign` for members and roles)"
    },
    {
      "name": "Organizations",
      "description": "Tenants and their members / provider bindings / sign-up policy.",
      "x-permissions": "`admin.orgs.*` (`/auth-settings/defaults`: + **superadmin**)"
    },
    {
      "name": "Memberships",
      "description": "User↔organization memberships.",
      "x-permissions": "`admin.orgs.read`"
    },
    {
      "name": "Enterprise apps",
      "description": "SSO application registry.",
      "x-permissions": "`admin.apps.*`"
    },
    {
      "name": "API keys",
      "description": "API-key governance.",
      "x-permissions": "`admin.apikeys.*`"
    },
    {
      "name": "Email",
      "description": "Outbox and templates.",
      "x-permissions": "`admin.email.*`"
    },
    {
      "name": "MCP agents",
      "description": "Self-registered MCP agents (OAuth clients with an `mcp` service membership).",
      "x-permissions": "`admin.clients.read` / `admin.clients.manage`"
    },
    {
      "name": "Audit",
      "description": "The audit log.",
      "x-permissions": "`admin.audit.read`"
    },
    {
      "name": "Export",
      "description": "CSV exports.",
      "x-permissions": "the exported resource's read permission"
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Secure-better-auth.session_token",
        "description": "Better Auth session cookie. The name carries Better Auth's `__Secure-` prefix on any https origin (production); only a plain-http dev origin uses the bare `better-auth.session_token`. The value is the SIGNED cookie value exactly as a real browser session holds it — not a session id or token from the `session` table, which Better Auth will reject. Browser clients send it automatically (`credentials: \"include\"`); a server-side caller forwards the `Cookie` header and, on every mutation, adds a trusted `Origin` header (the CSRF guard)."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A DevResponse API key (`drk_…`) or a JWT minted at `POST /api/v1/auth/token`, in `Authorization: Bearer …`. Accepted on every administrator operation that lists it (all of them except `DELETE /users/{id}/impersonate`, which is cookie-only; both credential paths are disabled by default: `API_KEYS_ENABLED` / `API_JWT_ENABLED`). The credential's effective authority is `scopes ∩ owner permissions`: an operation needs the owner to hold the permission AND the credential to carry a scope covering it (e.g. `admin.users.read`, or a prefix scope such as `admin.users.*`), else `403 forbidden`. Bearer callers are exempt from the `Origin` guard (a bearer cannot be attached by a cross-site page)."
      }
    },
    "parameters": {
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "description": "1-indexed page number."
      },
      "PageSize": {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200
        },
        "description": "Rows per page (clamped to 1–200)."
      },
      "Sort": {
        "name": "sort",
        "in": "query",
        "required": false,
        "explode": true,
        "style": "form",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": "Sort directives as `field.asc` / `field.desc`."
      },
      "Q": {
        "name": "q",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Case-insensitive search."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AdminError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "No session cookie and no bearer credential resolved (`unauthenticated`) — also the answer for a revoked/expired bearer or a disabled credential path.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AdminError"
            }
          }
        }
      },
      "Forbidden": {
        "description": "`forbidden`: the caller lacks the permission (or, for a bearer, a covering scope), their account/membership is not active, or the action is out of their org scope. `untrusted_origin`: a cookie-session MUTATION arrived without an `Origin`/`Referer` header matching a trusted origin (CSRF guard; never returned to bearer callers).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AdminError"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found (or out of org scope)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AdminError"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AdminError"
            }
          }
        }
      },
      "Unprocessable": {
        "description": "Unprocessable — `invalid_scope` with the scopes the caller may not grant",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnprocessableError"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests (`rate_limited`); retry after `retryAfter` seconds",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait — the same value as the body's `retryAfter`.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RateLimitedError"
            }
          }
        }
      }
    },
    "schemas": {
      "AdminError": {
        "type": "object",
        "description": "Administrator error envelope. `adminErrorResponse` may spread extra non-secret fields for specific codes — see `RateLimitedError` / `UnprocessableError`.",
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable code."
          },
          "message": {
            "type": "string",
            "description": "i18n message key."
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "message",
          "requestId"
        ],
        "additionalProperties": true
      },
      "RateLimitedError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AdminError"
          },
          {
            "type": "object",
            "properties": {
              "retryAfter": {
                "type": "integer",
                "minimum": 1,
                "description": "Seconds until the bucket refills enough to retry."
              }
            },
            "required": [
              "retryAfter"
            ]
          }
        ]
      },
      "UnprocessableError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AdminError"
          },
          {
            "type": "object",
            "properties": {
              "ungrantableScopes": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Requested scopes outside the caller's own authority (permissions ∩ credential scopes)."
              }
            },
            "required": [
              "ungrantableScopes"
            ]
          }
        ]
      },
      "SortSpec": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        },
        "required": [
          "field",
          "direction"
        ]
      },
      "Ok": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          }
        },
        "required": [
          "ok"
        ]
      },
      "OkId": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "ok",
          "id"
        ]
      },
      "OkStatus": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "status"
        ]
      },
      "OkCount": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "updated": {
            "type": "integer"
          },
          "removed": {
            "type": "integer"
          },
          "added": {
            "type": "integer"
          }
        },
        "required": [
          "ok"
        ]
      },
      "UserListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "better_auth_user_id": {
            "type": "string"
          },
          "primary_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended",
              "deactivated"
            ]
          },
          "preferred_locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "primary_email",
          "status"
        ]
      },
      "UserDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "better_auth_user_id": {
            "type": "string"
          },
          "primary_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended",
              "deactivated"
            ]
          },
          "status_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "preferred_locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deactivated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "deactivated_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "deactivated_reason": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "primary_email",
          "status"
        ]
      },
      "UserDetailEnvelope": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/UserDetail"
          }
        },
        "required": [
          "user"
        ]
      },
      "UserList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserListItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "CreateUserRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 128
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "user"
            ]
          },
          "initialAppStatus": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval"
            ]
          },
          "preferredLocale": {
            "type": "string",
            "minLength": 2,
            "maxLength": 10
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "UserCreated": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "better_auth_user_id": {
            "type": "string"
          },
          "primary_email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended",
              "deactivated"
            ]
          }
        },
        "required": [
          "ok",
          "id"
        ]
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "preferredLocale": {
            "type": "string",
            "minLength": 2,
            "maxLength": 10
          }
        }
      },
      "ReasonRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "maxLength": 500
          }
        }
      },
      "UserStatusRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "approve",
              "block",
              "suspend",
              "reactivate"
            ]
          },
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        },
        "required": [
          "action"
        ]
      },
      "SetPasswordRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "mode": {
                "const": "set"
              },
              "password": {
                "type": "string",
                "minLength": 8,
                "maxLength": 128
              }
            },
            "required": [
              "mode",
              "password"
            ]
          },
          {
            "type": "object",
            "properties": {
              "mode": {
                "const": "reset_email"
              },
              "redirectTo": {
                "type": "string",
                "format": "uri"
              }
            },
            "required": [
              "mode"
            ]
          }
        ]
      },
      "SetRoleRequest": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "user"
            ]
          },
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        },
        "required": [
          "role"
        ]
      },
      "BanRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "expiresInSeconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 31536000
          }
        },
        "required": [
          "reason"
        ]
      },
      "SessionItem": {
        "type": "object",
        "description": "One active Better Auth session, projected to non-secret metadata. The session token is never exposed; revoke by `id`.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Session id — the `sessionId` path parameter."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "ipAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "userAgent": {
            "type": [
              "string",
              "null"
            ]
          },
          "impersonatedBy": {
            "type": [
              "string",
              "null"
            ],
            "description": "Better Auth user id of the impersonating admin, when this is an impersonation session."
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt",
          "expiresAt",
          "ipAddress",
          "userAgent",
          "impersonatedBy"
        ],
        "additionalProperties": false
      },
      "SessionList": {
        "type": "object",
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionItem"
            }
          }
        },
        "required": [
          "sessions"
        ]
      },
      "MembershipListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_slug": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended"
            ]
          },
          "source_provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider_organization_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "organization_id",
          "status"
        ]
      },
      "MembershipList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MembershipListItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "AddMembershipRequest": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended"
            ]
          }
        },
        "required": [
          "organizationId"
        ]
      },
      "UpdateMembershipsRequest": {
        "type": "object",
        "properties": {
          "membershipIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended"
            ]
          }
        },
        "required": [
          "membershipIds",
          "status"
        ]
      },
      "DeleteMembershipsRequest": {
        "type": "object",
        "properties": {
          "membershipIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1
          }
        },
        "required": [
          "membershipIds"
        ]
      },
      "AppRoleAssignment": {
        "type": "object",
        "properties": {
          "role_id": {
            "type": "string",
            "format": "uuid"
          },
          "role_key": {
            "type": "string"
          },
          "role_name": {
            "type": "string"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "organization_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "role_id",
          "role_key"
        ]
      },
      "AppRoleAssignments": {
        "type": "object",
        "properties": {
          "assignments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppRoleAssignment"
            }
          }
        },
        "required": [
          "assignments"
        ]
      },
      "AppRoleRef": {
        "type": "object",
        "properties": {
          "roleId": {
            "type": "string",
            "format": "uuid"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "roleId",
          "organizationId"
        ]
      },
      "UserGroupRef": {
        "type": "object",
        "properties": {
          "groupId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "groupId"
        ]
      },
      "UserGroups": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "organization_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "key": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "groups"
        ]
      },
      "BulkUserRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "approve",
              "block",
              "suspend",
              "reactivate",
              "ban",
              "unban",
              "soft_delete",
              "restore"
            ]
          },
          "ids": {
            "type": [
              "array",
              "string"
            ],
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "maxItems": 500,
            "description": "1–500 app user ids, or the string `*` (the only accepted string) to select by `filters`."
          },
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "expiresInSeconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 31536000
          },
          "filters": {
            "type": "object",
            "description": "Selection filters for `ids: \"*\"` (ignored for an explicit id list).",
            "properties": {
              "status": {
                "type": [
                  "array",
                  "string"
                ],
                "items": {
                  "type": "string"
                },
                "description": "A list of statuses, or one status as a bare string."
              },
              "q": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "action",
          "ids"
        ],
        "additionalProperties": false
      },
      "BulkUserResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "action": {
            "type": "string"
          },
          "attempted": {
            "type": "integer"
          },
          "succeeded": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean"
                },
                "appUserId": {
                  "type": "string",
                  "format": "uuid"
                },
                "error": {
                  "type": "string"
                }
              },
              "required": [
                "ok",
                "appUserId"
              ]
            }
          }
        },
        "required": [
          "ok",
          "action",
          "attempted",
          "succeeded",
          "failed",
          "results"
        ]
      },
      "RoleListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "permission_count": {
            "type": "integer"
          },
          "member_count": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "key",
          "name"
        ]
      },
      "RoleList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoleListItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "RoleDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "permission_count": {
            "type": "integer"
          },
          "member_count": {
            "type": "integer"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "key",
          "name",
          "permissions"
        ]
      },
      "RoleDetailEnvelope": {
        "type": "object",
        "properties": {
          "role": {
            "$ref": "#/components/schemas/RoleDetail"
          }
        },
        "required": [
          "role"
        ]
      },
      "CreateRoleRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "pattern": "^[a-zA-Z0-9_.\\-:]+$"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "organizationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "key",
          "name"
        ]
      },
      "UpdateRoleRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          }
        }
      },
      "KeyCreated": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "key": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "id",
          "key"
        ]
      },
      "IdsRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 500
          }
        },
        "required": [
          "ids"
        ]
      },
      "PermissionsResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "ok",
          "permissions"
        ]
      },
      "PermissionsList": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "permissions"
        ]
      },
      "RoleMemberItem": {
        "type": "object",
        "properties": {
          "app_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "primary_email": {
            "type": "string"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "organization_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "app_user_id",
          "primary_email"
        ]
      },
      "RoleMemberList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoleMemberItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "PermissionListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "key": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "used_by_role_count": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "key"
        ]
      },
      "PermissionList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PermissionListItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "CreatePermissionRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "pattern": "^[a-zA-Z0-9_.\\-:]+$"
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          }
        },
        "required": [
          "key"
        ]
      },
      "UpdatePermissionRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          }
        },
        "required": [
          "description"
        ]
      },
      "GroupListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "role_count": {
            "type": "integer"
          },
          "member_count": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "organization_id",
          "key",
          "name"
        ]
      },
      "GroupList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupListItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "GroupDetailEnvelope": {
        "type": "object",
        "properties": {
          "group": {
            "$ref": "#/components/schemas/GroupListItem"
          }
        },
        "required": [
          "group"
        ]
      },
      "CreateGroupRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "pattern": "^[a-zA-Z0-9_.\\-:]+$"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "key",
          "name"
        ]
      },
      "UpdateGroupRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          }
        }
      },
      "GroupMemberItem": {
        "type": "object",
        "properties": {
          "app_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "primary_email": {
            "type": "string"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "app_user_id",
          "primary_email"
        ]
      },
      "GroupMemberList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupMemberItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "AppUserIdsRequest": {
        "type": "object",
        "properties": {
          "appUserIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "maxItems": 500
          }
        },
        "required": [
          "appUserIds"
        ]
      },
      "GroupRoleIdsRequest": {
        "type": "object",
        "properties": {
          "roleIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "maxItems": 500
          }
        },
        "required": [
          "roleIds"
        ]
      },
      "GroupRolesResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "roleIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "required": [
          "ok",
          "roleIds"
        ]
      },
      "GroupRoles": {
        "type": "object",
        "properties": {
          "roles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "key": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "roles"
        ]
      },
      "OrganizationListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "is_default": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "member_count": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "slug",
          "name"
        ]
      },
      "OrganizationList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizationListItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "OrganizationDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "is_default": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "member_count": {
            "type": "integer"
          },
          "binding_count": {
            "type": "integer"
          },
          "role_count": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "slug",
          "name"
        ]
      },
      "CreateOrganizationRequest": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "required": [
          "slug",
          "name"
        ]
      },
      "UpdateOrganizationRequest": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "archived"
            ]
          },
          "isDefault": {
            "type": "boolean"
          }
        }
      },
      "OrgMemberItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "app_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "user_display_name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended"
            ]
          },
          "source_provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider_organization_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "app_user_id",
          "status"
        ]
      },
      "OrgMemberList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrgMemberItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "AddOrgMemberRequest": {
        "type": "object",
        "properties": {
          "appUserId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended"
            ]
          }
        },
        "required": [
          "appUserId"
        ]
      },
      "ProviderBindingItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "provider": {
            "type": "string"
          },
          "provider_organization_key": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "provider",
          "provider_organization_key"
        ]
      },
      "ProviderBindingList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderBindingItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "AddProviderBindingRequest": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "providerOrganizationKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "displayName": {
            "type": "string",
            "maxLength": 200
          }
        },
        "required": [
          "provider",
          "providerOrganizationKey"
        ]
      },
      "DeleteBindingsRequest": {
        "type": "object",
        "properties": {
          "bindingIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1
          }
        },
        "required": [
          "bindingIds"
        ]
      },
      "InvitationItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "revoked",
              "expired"
            ]
          },
          "role_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "role_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "invited_by_display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "accepted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "email",
          "status",
          "expires_at"
        ]
      },
      "InvitationList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvitationItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "CreateInvitationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 320
          },
          "roleId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Optional app role granted on acceptance; must belong to this org."
          }
        },
        "required": [
          "email"
        ]
      },
      "InvitationCreated": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "ok",
          "id",
          "expiresAt"
        ]
      },
      "InvitationResent": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "ok",
          "expiresAt"
        ]
      },
      "AuthPolicySettings": {
        "type": [
          "object",
          "null"
        ],
        "description": "The raw policy override row; null when the organization inherits the platform default.",
        "properties": {
          "organizationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "requireEmailVerification": {
            "type": "boolean"
          },
          "signupApprovalMode": {
            "type": "string",
            "enum": [
              "admin_approval",
              "auto_active",
              "invite_only"
            ]
          },
          "allowedAuthMethods": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "enum": [
                "email",
                "google",
                "microsoft",
                "github"
              ]
            },
            "description": "null = every enabled auth method is accepted."
          },
          "autoApproveEmailDomains": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Lowercased domains; null = no domain auto-approval."
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "requireEmailVerification",
          "signupApprovalMode"
        ]
      },
      "AuthPolicyEffective": {
        "type": "object",
        "description": "The resolved policy that actually governs sign-ups for this scope.",
        "properties": {
          "requireEmailVerification": {
            "type": "boolean"
          },
          "signupApprovalMode": {
            "type": "string",
            "enum": [
              "admin_approval",
              "auto_active",
              "invite_only"
            ]
          },
          "allowedAuthMethods": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "enum": [
                "email",
                "google",
                "microsoft",
                "github"
              ]
            }
          },
          "autoApproveEmailDomains": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string",
            "enum": [
              "organization",
              "platform_default",
              "fail_closed"
            ]
          }
        },
        "required": [
          "requireEmailVerification",
          "signupApprovalMode",
          "source"
        ]
      },
      "AuthPolicyEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "settings": {
            "$ref": "#/components/schemas/AuthPolicySettings"
          },
          "effective": {
            "$ref": "#/components/schemas/AuthPolicyEffective"
          }
        },
        "required": [
          "ok"
        ]
      },
      "UpdateAuthPolicyRequest": {
        "type": "object",
        "description": "A COMPLETE policy — there is no partial update; PATCH creates or replaces the row.",
        "properties": {
          "requireEmailVerification": {
            "type": "boolean"
          },
          "signupApprovalMode": {
            "type": "string",
            "enum": [
              "admin_approval",
              "auto_active",
              "invite_only"
            ]
          },
          "allowedAuthMethods": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "enum": [
                "email",
                "google",
                "microsoft",
                "github"
              ]
            },
            "maxItems": 4
          },
          "autoApproveEmailDomains": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "maxItems": 50
          }
        },
        "required": [
          "requireEmailVerification",
          "signupApprovalMode",
          "allowedAuthMethods",
          "autoApproveEmailDomains"
        ]
      },
      "GlobalMembershipItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_slug": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "app_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "user_display_name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended"
            ]
          },
          "source_provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider_organization_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "organization_id",
          "app_user_id",
          "status"
        ]
      },
      "GlobalMembershipList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GlobalMembershipItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "EnterpriseAppItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "origin": {
            "type": "string",
            "format": "uri"
          },
          "subdomain": {
            "type": "string"
          },
          "sso_audience": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "organization_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "label",
          "origin",
          "subdomain",
          "sso_audience"
        ]
      },
      "EnterpriseAppList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnterpriseAppItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "EnterpriseAppDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EnterpriseAppItem"
          },
          {
            "type": "object",
            "properties": {
              "organization_name": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        ]
      },
      "CreateEnterpriseAppRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-z0-9._-]+$"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          },
          "origin": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "format": "uri"
          },
          "subdomain": {
            "type": "string",
            "minLength": 1,
            "maxLength": 63
          },
          "sso_audience": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "disabled"
            ]
          },
          "sort_order": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "id",
          "label",
          "origin",
          "subdomain",
          "sso_audience"
        ]
      },
      "UpdateEnterpriseAppRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          },
          "origin": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "format": "uri"
          },
          "subdomain": {
            "type": "string",
            "minLength": 1,
            "maxLength": 63
          },
          "sso_audience": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "disabled"
            ]
          },
          "sort_order": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        }
      },
      "IdCreated": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "id"
        ]
      },
      "AdminApiKeyItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "app_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "owner_email": {
            "type": "string"
          },
          "owner_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "revoked"
            ]
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_used_ip": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "revoked_reason": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "key_prefix",
          "status"
        ]
      },
      "AdminApiKeyList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminApiKeyItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "AdminApiKeyDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AdminApiKeyItem"
          },
          {
            "type": "object",
            "properties": {
              "created_by_email": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "revoked_by_email": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        ]
      },
      "CreateAdminApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "ownerAppUserId": {
            "type": "string",
            "format": "uuid"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 64
          },
          "expiresInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3650
          }
        },
        "required": [
          "name",
          "ownerAppUserId"
        ]
      },
      "AdminApiKeyCreated": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "key": {
            "type": "string",
            "description": "Plaintext secret — shown once."
          }
        },
        "required": [
          "id",
          "name",
          "prefix",
          "key"
        ]
      },
      "AdminApiKeyRotated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AdminApiKeyCreated"
          },
          {
            "type": "object",
            "properties": {
              "rotatedFrom": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ]
      },
      "AdminApiKeyRevoked": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "alreadyRevoked": {
            "type": "boolean"
          }
        },
        "required": [
          "ok",
          "alreadyRevoked"
        ]
      },
      "OutboxItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "organization_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "organization_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "template_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "to_email": {
            "type": "string"
          },
          "from_email": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "sent",
              "failed",
              "logged"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider_message_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "related_better_auth_user_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "to_email",
          "status"
        ]
      },
      "OutboxDetail": {
        "type": "object",
        "description": "One outbox row with its rendered bodies. Bodies are the REDACTED rendering stored at insert time: one-time reset / verification / invitation tokens read `[redacted]`.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "organization_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "organization_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "template_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "to_email": {
            "type": "string"
          },
          "from_email": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "sent",
              "failed",
              "logged"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider_message_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "related_better_auth_user_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "body_html": {
            "type": "string"
          },
          "body_text": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "to_email",
          "status",
          "body_html"
        ]
      },
      "OutboxList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutboxItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "EmailTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "key": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "body_html": {
            "type": "string"
          },
          "body_text": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "key",
          "locale",
          "subject"
        ]
      },
      "EmailTemplateListEnvelope": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailTemplate"
            }
          }
        },
        "required": [
          "items"
        ]
      },
      "UpdateEmailTemplateRequest": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "body_html": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100000
          },
          "body_text": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100000
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          }
        },
        "required": [
          "subject",
          "body_html"
        ]
      },
      "SendTestEmailRequest": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "to"
        ]
      },
      "SendTestEmailResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "outboxId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "ok",
          "status",
          "outboxId"
        ]
      },
      "UserRoleAssignmentItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "role_id": {
            "type": "string",
            "format": "uuid"
          },
          "role_key": {
            "type": "string"
          },
          "role_name": {
            "type": "string"
          },
          "role_description": {
            "type": [
              "string",
              "null"
            ]
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_slug": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "role_id",
          "role_key",
          "role_name",
          "organization_id",
          "created_at"
        ]
      },
      "UserRoleAssignmentList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserRoleAssignmentItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "AuditEventItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "event_type": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "actor_better_auth_user_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "app_user_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "target_application_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "ip_address": {
            "type": [
              "string",
              "null"
            ]
          },
          "user_agent": {
            "type": [
              "string",
              "null"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "event_type",
          "outcome",
          "created_at"
        ]
      },
      "AuditEventList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditEventItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "McpAgentItem": {
        "type": "object",
        "properties": {
          "clientRowId": {
            "type": "string",
            "format": "uuid",
            "description": "OAuth-client row id — the `{id}` of the agent operations."
          },
          "clientId": {
            "type": "string",
            "description": "Public OAuth `client_id`."
          },
          "name": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scope ceiling (effective = scopes ∩ permissions)."
          },
          "clientStatus": {
            "type": "string",
            "description": "Raw `app_oauth_clients.status`."
          },
          "appUserId": {
            "type": "string",
            "format": "uuid",
            "description": "The agent's service account."
          },
          "userStatus": {
            "type": "string",
            "description": "Raw `app_users.status` of the service account."
          },
          "email": {
            "type": "string"
          },
          "organizationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "active",
              "revoked"
            ],
            "description": "Derived lifecycle status (pending ⇒ awaiting approval; revoked ⇒ client inactive)."
          }
        },
        "required": [
          "clientRowId",
          "clientId",
          "name",
          "scopes",
          "clientStatus",
          "appUserId",
          "userStatus",
          "email",
          "organizationId",
          "createdAt",
          "status"
        ]
      },
      "McpAgentList": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/McpAgentItem"
                }
              },
              "page": {
                "type": "integer",
                "minimum": 1
              },
              "pageSize": {
                "type": "integer",
                "minimum": 1,
                "maximum": 200
              },
              "total": {
                "type": "integer",
                "minimum": 0
              },
              "sort": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SortSpec"
                }
              }
            },
            "required": [
              "items",
              "page",
              "pageSize",
              "total"
            ]
          },
          {
            "type": "object",
            "properties": {
              "pendingCount": {
                "type": "integer",
                "minimum": 0,
                "description": "Agents awaiting approval across the caller's WHOLE scope — independent of the page and filter."
              }
            },
            "required": [
              "pendingCount"
            ]
          }
        ]
      },
      "McpAgentApproved": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "activated": {
            "type": "boolean",
            "description": "false when the agent was already active (idempotent)."
          }
        },
        "required": [
          "ok",
          "activated"
        ]
      },
      "UpdateMcpAgentScopesRequest": {
        "type": "object",
        "properties": {
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 64
          }
        },
        "required": [
          "scopes"
        ],
        "additionalProperties": false
      },
      "McpAgentScopesResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "ok",
          "scopes"
        ]
      },
      "McpAgentRevoked": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "alreadyRevoked": {
            "type": "boolean",
            "description": "Present (true) when the client was not active any more — a no-op."
          }
        },
        "required": [
          "ok"
        ]
      }
    }
  },
  "paths": {
    "/users": {
      "get": {
        "operationId": "listUsers",
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Q"
          },
          {
            "name": "filter[status]",
            "in": "query",
            "required": false,
            "explode": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Exact-match filter; repeat for multiple values."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "tags": [
          "Users"
        ],
        "summary": "Create a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "getUser",
        "tags": [
          "Users"
        ],
        "summary": "Read a user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetailEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateUser",
        "tags": [
          "Users"
        ],
        "summary": "Update a user's display name / locale",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "tags": [
          "Users"
        ],
        "summary": "Soft-delete a user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/users/{id}/status": {
      "post": {
        "operationId": "setUserStatus",
        "tags": [
          "Users"
        ],
        "summary": "Approve / block / suspend / reactivate a user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
[...]
