{
  "openapi": "3.1.0",
  "info": {
    "title": "DevResponse API",
    "version": "1.0.0",
    "description": "Machine-facing REST surface (`/api/v1`). Authenticate with an API key (`drk_…`) or a JWT access token as `Authorization: Bearer …`. Scopes are the application permission keys; a credential can never exceed its owner's authority. Errors use RFC 7807 `application/problem+json`. Every response carries an `x-request-id` correlation header."
  },
  "servers": [
    {
      "url": "https://app.devresponse.com/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Obtain access tokens."
    },
    {
      "name": "Account",
      "description": "The authenticated caller's own identity and API keys."
    },
    {
      "name": "Users",
      "description": "User administration."
    },
    {
      "name": "API keys",
      "description": "API-key governance (admin)."
    },
    {
      "name": "OAuth clients",
      "description": "OAuth2 client-credentials governance (admin)."
    },
    {
      "name": "Audit",
      "description": "Read the audit log."
    },
    {
      "name": "Well-known",
      "description": "Public discovery documents."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "oauth2ClientCredentials": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key (`drk_…`) or a JWT access token."
      },
      "oauth2ClientCredentials": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://app.devresponse.com/api/v1/auth/token",
            "scopes": {
              "admin.users.read": "admin.users.read",
              "admin.users.create": "admin.users.create",
              "admin.users.update": "admin.users.update",
              "admin.users.delete": "admin.users.delete",
              "admin.users.manage": "admin.users.manage",
              "admin.users.ban": "admin.users.ban",
              "admin.users.setRole": "admin.users.setRole",
              "admin.users.setPassword": "admin.users.setPassword",
              "admin.users.sessions": "admin.users.sessions",
              "admin.users.impersonate": "admin.users.impersonate",
              "admin.roles.read": "admin.roles.read",
              "admin.roles.create": "admin.roles.create",
              "admin.roles.update": "admin.roles.update",
              "admin.roles.delete": "admin.roles.delete",
              "admin.roles.assign": "admin.roles.assign",
              "admin.groups.read": "admin.groups.read",
              "admin.groups.create": "admin.groups.create",
              "admin.groups.update": "admin.groups.update",
              "admin.groups.delete": "admin.groups.delete",
              "admin.groups.assign": "admin.groups.assign",
              "admin.permissions.manage": "admin.permissions.manage",
              "admin.orgs.read": "admin.orgs.read",
              "admin.orgs.create": "admin.orgs.create",
              "admin.orgs.update": "admin.orgs.update",
              "admin.orgs.delete": "admin.orgs.delete",
              "admin.orgs.manage": "admin.orgs.manage",
              "admin.apps.read": "admin.apps.read",
              "admin.apps.manage": "admin.apps.manage",
              "admin.audit.read": "admin.audit.read",
              "admin.email.read": "admin.email.read",
              "admin.email.manage": "admin.email.manage",
              "admin.apikeys.read": "admin.apikeys.read",
              "admin.apikeys.manage": "admin.apikeys.manage",
              "admin.clients.read": "admin.clients.read",
              "admin.clients.manage": "admin.clients.manage",
              "account.read": "account.read",
              "account.profile.write": "account.profile.write",
              "account.preferences.write": "account.preferences.write",
              "account.apikeys.manage": "account.apikeys.manage"
            }
          }
        }
      }
    },
    "parameters": {
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "description": "1-indexed page number."
      },
      "PageSize": {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 25
        },
        "description": "Rows per page (clamped to 1–200)."
      },
      "Sort": {
        "name": "sort",
        "in": "query",
        "required": false,
        "explode": true,
        "style": "form",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": "Sort directives as `field.asc` / `field.desc`, applied in order."
      },
      "Q": {
        "name": "q",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Case-insensitive full-text search."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid credential",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient scope or permission",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found (or outside caller's scope)",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Stale `If-Match` ETag",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      }
    },
    "schemas": {
      "Problem": {
        "type": "object",
        "description": "RFC 7807 problem object.",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "code"
        ]
      },
      "SortSpec": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        },
        "required": [
          "field",
          "direction"
        ]
      },
      "Me": {
        "type": "object",
        "properties": {
          "betterAuthUserId": {
            "type": "string"
          },
          "appUserId": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended",
              "deactivated"
            ]
          },
          "organizationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "preferredLocale": {
            "type": "string"
          },
          "authentication": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "session",
                  "api_key",
                  "jwt"
                ]
              },
              "credentialId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "kind",
              "credentialId"
            ]
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "grantedScopes": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "effectiveScopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "betterAuthUserId",
          "appUserId",
          "email",
          "status",
          "permissions",
          "effectiveScopes"
        ]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "const": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token lifetime in seconds."
          },
          "scope": {
            "type": "string",
            "description": "Space-delimited granted scopes."
          }
        },
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "scope"
        ]
      },
      "TokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "client_credentials",
              "api_key"
            ]
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "api_key": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "description": "Optional space-delimited down-scoping."
          }
        },
        "required": [
          "grant_type"
        ]
      },
      "UserListItem": {
        "type": "object",
        "description": "A user row (snake_case, as stored).",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "better_auth_user_id": {
            "type": "string"
          },
          "primary_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended",
              "deactivated"
            ]
          },
          "preferred_locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "primary_email",
          "status",
          "created_at",
          "updated_at"
        ]
      },
      "UserDetail": {
        "type": "object",
        "description": "A single user, including `status_reason`.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "better_auth_user_id": {
            "type": "string"
          },
          "primary_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended",
              "deactivated"
            ]
          },
          "status_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "preferred_locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "primary_email",
          "status"
        ]
      },
      "UserDetailEnvelope": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/UserDetail"
          }
        },
        "required": [
          "user"
        ]
      },
      "CreateUserRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 128
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "user"
            ]
          },
          "initialAppStatus": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval"
            ]
          },
          "preferredLocale": {
            "type": "string",
            "minLength": 2,
            "maxLength": 10
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "UserCreated": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "betterAuthUserId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending_approval",
              "blocked",
              "suspended",
              "deactivated"
            ]
          }
        },
        "required": [
          "id",
          "betterAuthUserId",
          "email",
          "status"
        ]
      },
      "UserStatusRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "approve",
              "block",
              "suspend",
              "reactivate"
            ]
          },
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        },
        "required": [
          "action"
        ]
      },
      "OkStatus": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "status"
        ]
      },
      "Revoked": {
        "type": "object",
        "description": "Idempotent revoke result.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "revoked": {
            "type": "boolean",
            "description": "true if newly revoked, false if already was."
          }
        },
        "required": [
          "ok",
          "id",
          "revoked"
        ]
      },
      "OkId": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "ok",
          "id"
        ]
      },
      "ApiKeySummary": {
        "type": "object",
        "description": "API-key metadata (never includes the secret).",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "app_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "revoked"
            ]
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "key_prefix",
          "scopes",
          "status"
        ]
      },
      "ApiKeyList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKeySummary"
            }
          }
        },
        "required": [
          "items"
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 64
          },
          "expiresInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3650
          }
        },
        "required": [
          "name"
        ]
      },
      "ApiKeyCreated": {
        "type": "object",
        "description": "Returned once on create/rotate — `key` is the plaintext secret, shown only here.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "key": {
            "type": "string",
            "description": "Plaintext secret — persist immediately."
          }
        },
        "required": [
          "id",
          "name",
          "prefix",
          "scopes",
          "key"
        ]
      },
      "OAuthClientSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "client_id": {
            "type": "string"
          },
          "app_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "revoked"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "client_id",
          "name",
          "scopes",
          "status"
        ]
      },
      "OAuthClientEnvelope": {
        "type": "object",
        "properties": {
          "client": {
            "$ref": "#/components/schemas/OAuthClientSummary"
          }
        },
        "required": [
          "client"
        ]
      },
      "CreateOAuthClientRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 64
          },
          "serviceAppUserId": {
            "type": "string",
            "format": "uuid"
          },
          "organizationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "name",
          "serviceAppUserId"
        ]
      },
      "UpdateOAuthClientRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 64
          }
        }
      },
      "OAuthClientCreated": {
        "type": "object",
        "description": "Returned once on create — `clientSecret` is shown only here.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "clientId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "clientSecret": {
            "type": "string",
            "description": "Plaintext secret — persist immediately."
          }
        },
        "required": [
          "id",
          "clientId",
          "clientSecret"
        ]
      },
      "OAuthClientSecret": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "clientId": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "clientId",
          "clientSecret"
        ]
      },
      "AuditEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "event_type": {
            "type": "string"
          },
          "outcome": {
            "type": "string"
          },
          "actor_better_auth_user_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "app_user_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "organization_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "request_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "event_type",
          "outcome",
          "created_at"
        ]
      },
      "Jwks": {
        "type": "object",
        "description": "JSON Web Key Set; `keys` is empty when JWT issuance is disabled.",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "required": [
          "keys"
        ]
      },
      "UserList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserListItem"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "AuditEventList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditEvent"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            }
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "ApiKeyAdminList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKeySummary"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      },
      "OAuthClientList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OAuthClientSummary"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "items",
          "page",
          "pageSize",
          "total"
        ]
      }
    }
  },
  "paths": {
    "/auth/token": {
      "post": {
        "operationId": "issueToken",
        "tags": [
          "Auth"
        ],
        "summary": "Exchange a credential for a JWT access token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "tags": [
          "Account"
        ],
        "summary": "Current caller identity + effective scopes",
        "security": [
          {
            "bearerAuth": [
              "account.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/me/api-keys": {
      "get": {
        "operationId": "listMyApiKeys",
        "tags": [
          "Account"
        ],
        "summary": "List the caller's own API keys",
        "security": [
          {
            "bearerAuth": [
              "account.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createMyApiKey",
        "tags": [
          "Account"
        ],
        "summary": "Create an API key (secret returned once)",
        "security": [
          {
            "bearerAuth": [
              "account.apikeys.manage"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/me/api-keys/{id}": {
      "delete": {
        "operationId": "revokeMyApiKey",
        "tags": [
          "Account"
        ],
        "summary": "Revoke one of the caller's API keys",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "account.apikeys.manage"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Revoked"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/me/api-keys/{id}/rotate": {
      "post": {
        "operationId": "rotateMyApiKey",
        "tags": [
          "Account"
        ],
        "summary": "Rotate one of the caller's API keys (new secret returned once)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "account.apikeys.manage"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Rotated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "security": [
          {
            "bearerAuth": [
              "admin.users.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Q"
          },
          {
            "name": "filter[status]",
            "in": "query",
            "required": false,
            "explode": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "active",
                  "pending_approval",
                  "blocked",
                  "suspended",
                  "deactivated"
                ]
              }
            },
            "description": "Exact-match filter; repeat the parameter for multiple values."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "tags": [
          "Users"
        ],
        "summary": "Create a user",
        "security": [
          {
            "bearerAuth": [
              "admin.users.create"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "getUser",
        "tags": [
          "Users"
        ],
        "summary": "Read a user (emits a weak ETag for optimistic concurrency)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "admin.users.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Weak ETag from `updated_at`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetailEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users/{id}/status": {
      "post": {
        "operationId": "setUserStatus",
        "tags": [
          "Users"
        ],
        "summary": "Apply a status transition (supports `If-Match`)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Weak ETag from GET; a stale value yields 412."
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "admin.users.manage"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Applied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/audit-events": {
      "get": {
        "operationId": "listAuditEvents",
        "tags": [
          "Audit"
        ],
        "summary": "Read the audit log",
        "security": [
          {
            "bearerAuth": [
              "admin.audit.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "name": "filter[event_type]",
            "in": "query",
            "required": false,
            "explode": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Exact-match filter; repeat the parameter for multiple values."
          },
          {
            "name": "filter[outcome]",
            "in": "query",
            "required": false,
            "explode": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Exact-match filter; repeat the parameter for multiple values."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEventList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/admin/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "tags": [
          "API keys"
        ],
        "summary": "List API keys (admin)",
        "security": [
          {
            "bearerAuth": [
              "admin.apikeys.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "revoked"
              ]
            }
          },
          {
            "name": "appUserId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyAdminList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/admin/api-keys/{id}": {
      "delete": {
        "operationId": "revokeApiKey",
        "tags": [
          "API keys"
        ],
        "summary": "Revoke any API key (admin)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "admin.apikeys.manage"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Revoked"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/admin/oauth-clients": {
      "get": {
        "operationId": "listOauthClients",
        "tags": [
          "OAuth clients"
        ],
        "summary": "List OAuth clients",
        "security": [
          {
            "bearerAuth": [
              "admin.clients.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "revoked"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClientList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createOauthClient",
        "tags": [
          "OAuth clients"
        ],
        "summary": "Register an OAuth client (secret returned once)",
        "security": [
          {
            "bearerAuth": [
              "admin.clients.manage"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOAuthClientRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClientCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/admin/oauth-clients/{id}": {
      "get": {
        "operationId": "getOauthClient",
        "tags": [
          "OAuth clients"
        ],
        "summary": "Read an OAuth client",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "admin.clients.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClientEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateOauthClient",
        "tags": [
          "OAuth clients"
        ],
        "summary": "Edit an OAuth client",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "admin.clients.manage"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOAuthClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkId"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "revokeOauthClient",
        "tags": [
          "OAuth clients"
        ],
        "summary": "Revoke an OAuth client",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "admin.clients.manage"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Revoked"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/admin/oauth-clients/{id}/rotate-secret": {
      "post": {
        "operationId": "rotateOauthClientSecret",
        "tags": [
          "OAuth clients"
        ],
        "summary": "Rotate an OAuth client secret (new secret returned once)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": [
              "admin.clients.manage"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Rotated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClientSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/jwks.json": {
      "get": {
        "operationId": "getJwks",
        "tags": [
          "Well-known"
        ],
        "summary": "Public JSON Web Key Set for verifying issued JWTs",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jwks"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "tags": [
          "Well-known"
        ],
        "summary": "This OpenAPI 3.1 document",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-account-scopes": [
    "account.read",
    "account.profile.write",
    "account.preferences.write",
    "account.apikeys.manage"
  ]
}
